# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
.venv
venv
ENV

# IDE
.idea
.vscode
*.swp

# Frontend build artifacts (source code kerak)
frontend/node_modules
frontend/build

# Local files
*.sqlite3
.env.local
*.log
media/*
!media/.gitkeep

# Tests
.pytest_cache
htmlcov
.coverage
